html {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: black;

}

a {
  color: black;
  text-decoration: none;
  transition: color 300ms;
}

a:hover {
  color: #b6b5b5;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  text-align: left;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: .75rem;
}

/* Header */

#header-container {
  z-index: 5;
  background-color: white;
  height: 4rem;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;

}

.logo {

  text-transform: uppercase;
  font-size: 1.5rem;
  height: 1.5rem;
  display: flex;
  margin: .75rem 1.5rem;

}

.logo img {

  height: 2rem;
}

#col {

  font-weight: 700;
  color: #41403f;
  margin-top: .25rem;
}

#acad {

  font-weight: 500;
  color: #b6b5b5;
  margin-top: .25rem;
}

.navigation {

  font-size: 1.25rem;
  font-variant: small-caps;
  text-align: center;
  display: flex;
  margin: 1rem 1.5rem;
}

#links{
  padding: .25rem;
}

/* Main Content Section */

/* Upper Banner */

#StartingPoint {
  background-color: #dadada;
  color: #41403f;
  display: flex;
  max-width: 100%;
  height: auto;
  justify-content: center;
}

#StartingPoint .BannerImage {
  max-width: 60%;
  padding: 2rem 1.5rem;
}

#StartingPoint .BannerImage img {
  max-width: 100%;
  max-height: auto;
  background-size: cover;
}

#StartingPoint .SideBanner {
  max-width: 40%;
  max-height: 100%;
  padding-left: 1.5rem;
  padding-right: 4.5rem;
  padding-top: 5%;
  justify-content: center;
  vertical-align: middle;
}

#StartingPoint .BannerText {
  max-width: 100%;
}

#StartingPoint .StartButton {
  Color: white;
  Border: 3px solid #41403f;
  background-color: #41403f;
  font-size: 1.5rem;
  font-variant: small-caps;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  margin: .5rem;
  padding: .5rem;
  display: flex;
  justify-content: center;
}

#StartingPoint .StartButton:hover {
  background-color: #44596e;
  border: 3px solid #44596e;
  transition: color 1s;
}

/* Second Section, Lecture */

#Information {
  border: 1px solid red;
  display: inline-flex;
}

#Information .LeftColumn {
  max-width: 60%;
}

#Information .LeftColumn img {
  max-width: 100%;
}

#Information .RightColumn {
  max-width: 40%;
}

/* Learning and class section */

#Learning {
  border: 1px solid grey;
}

/* Thesis with Video */
#Thesis {
  border: 1px solid purple;
}
/* Footer */
footer {
  border: 1px solid yellow;
}
